@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {

    /* ## Colors */

    --Neutral-0: hsl(0, 0%, 100%);
    --Neutral-300: hsl(252, 6%, 83%);
    --Neutral-500: hsl(245, 15%, 58%);
    --Neutral-700: hsl(245, 19%, 35%);
    --Neutral-900: hsl(248, 70%, 10%);

    --Orange-500: hsl(7, 88%, 67%);
    --Orange-700: hsl(7, 71%, 60%);

    --Gradient-text: hsl(7, 86%, 67%) to hsl(0, 0%, 100%);
}

body {
    font-family: "inconsolata", sans-serif;
    color: var(--Neutral-0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-repeat: no-repeat;
    height: auto;
    width: 100%;
}

main {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: flex;
    padding-block: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 100vh;
    max-height: auto;
}

.mainOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}

.mainOverlay img {

    height: 100%;
    width: 100%;

}

.linesOverlay {
    position: absolute;
    top: -80px;
    left: 0px;
    width: 100%;
    height: 100%;

}

.linesOverlay img {
    width: 100%;
    height: 100%;

}

.overlayCircle {
    position: absolute;
    top: -40px;
    left: 0px;
    width: 20%;
    height: 20%;
}

.overlayCircle img {
    width: 100%;
    height: 100%;

}

.overlayZig {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 200px;
    width: 300px;
}

.overlayZig img {
    height: 100%;
    width: 100%;
}

.overlayZag {
    position: absolute;
    bottom: -100px;
    left: 0px;
    height: 500px;
    width: 500px;
}

.overlayZag img {
    height: 100%;

    width: 100%;


}

.formSection {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    z-index: 1;
}

.mainHead {
    color: var(--Neutral-0);
    font-weight: 600;
    width: 45%;
    text-align: center;
    font-size: 2.5rem;
}

.tagLine {
    font-size: 1.1rem;
    color: var(--Neutral-300);
    font-weight: 500;
}

.form {
    display: none;
    flex-direction: column;
    gap: 25px;
    width: 30%;
    align-items: center;
}

.covers {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

label {
    /* text-align: start; */
    width: 90%;
}

.inputs {
    background-color: hsla(246, 15%, 58%, 0.301);
    ;
    height: 40px;
    color: var(--Neutral-300);
    font-size: 16px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.212);
    outline: none;
    font-family: "inconsolata", sans-serif;
    border-radius: 8px;
    padding: 10px;

}

.inputs::placeholder {
    color: rgba(255, 255, 255, 0.793);
    font-weight: 300;
    /* font-size: 1.4rem; */
    font-size: 15px;
}

.formButton {
    width: 100%;
    font-family: "inconsolata", sans-serif;
    height: 45px;
    border-radius: 6px;
    border: none;
    outline: none;
    /* color: ; */
    background-color: var(--Orange-500);
    font-size: 17px;
    font-weight: 700;
}

/* .formButton:hover{
    border: 1px double white;
} */
.fileCover {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.fileCover span {
    display: flex;
    align-items: center;
    width: 90%;
    text-align: start;

    gap: 10px;
    font-size: 10px;
}

.inputsCover1,
.inputsCover2,
.btnCover,
.inputsCover3,
.inputsCover4 {
    width: 90%;
    border-radius: 9px;
}

.inputsCover1:hover,
.btnCover:hover,
.inputsCover2:hover,
.inputsCover3:hover,
.inputsCover4:hover {
    padding: 2px;
    border: 1px solid rgba(255, 255, 255, 0.598);
}

/* =====================
inputFile
======================= */
.file-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px dashed rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
}

.file-upload input[type="file"] {
    display: none;
}

.file-upload label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 100%;
}

.upload-icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.194);
    border-radius: 8px;
}

.file-upload .upload-icon {
    font-size: 24px;
    color: #ff6f61;
}

.priviewImageCover {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    display: none;
}

#preview-image {
    display: none;
    max-width: 100%;
    max-height: 40px;
    border-radius: 8px;
}

.file-upload p {
    margin: 10px 0;
    font-size: 14px;
    color: #ddd;
}

.file-upload small {
    font-size: 12px;
    color: #aaa;
}

.cloudIcon {
    /* display: block; */
    height: 70%;
    width: 70%;
}

.removeImage,
.changeImage {
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 12px;
    color: var(--Neutral-300);
    padding-block: 6px;
    text-transform: capitalize;
    font-family: "inconsolata", sans-serif;
    border-radius: 5px;
    padding-inline: 10px;
    background-color: #ffffff13;

}

.none {
    display: none;
}

.firstError,
.emailError,
.gitNameError {
    color: var(--Orange-700);
    font-size: 10px;
    width: 90%;

}

/* =========================
generateTicket
========================= */

.generateTicket {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket {
    position: relative;
    width: 40%;
    height: 300px;
}

.ticketOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.cover{
    width: 100%;

}
.ticketDetails {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ticketLogo {
    width: 70%;
    display: flex;
    gap: 15px;
}

.textSide {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.logoSide img{
    height: 40px;
    width: 40px;
}
.ticketLogo p {
    width: 100%;
    text-align: end;
    word-spacing: 3px;
    font-size: 15px;
    font-weight: 400;
    color: #ffffff89;
}